# WordPress #
######################
wp-config.php
.cache
.maintenance
cache/**/* 
cache/* 
nbproject/*

profile

# Logs #
######################
*.log

# svn & cvs
.svn
CVS
=======
#*~
._*
.DS_Store
Thumbs.db